#collection {
  margin-top: 40px;
}

#collection .collection_products .collection_title {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#collection .collection_products .collection_title .section-heading {
  color: #424242;
  flex: 1;
  font-size: 1.5rem;
  padding-right: 10px;
}

#collection .collection_products .collection_title p {
  margin: 0 10px 0 0;
  font-size: 14px;
}

#collection .collection_products .products_setting {
  display: flex;
}

@media (min-width: 576px) {
  #collection .collection_products .products_setting .product-sort-by {
    margin-right: 20px;
  }
}

#collection .collection_products .products_setting .products_info {
  align-items: center;
  display: flex;
}

#collection .collection_products .products_setting .products_info .product_layout {
  width: auto;
}

#collection .collection_products .products_setting .products_info .product_layout button {
  background: #ffffff;
  border-color: #E2E2E2;
  color: #808080;
  padding: 3px 8px;
}

#collection .collection_products .products_content a {
  color: #424242;
  display: block;
  text-decoration: none;
}

#collection .collection_products .products_content .product_image a {
  position: relative;
  width: 100%;
}

#collection .collection_products .products_content .product_image a img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#collection .collection_products .products_content .product_slogan {
  font-size: 13px;
  text-align: center;
  color: #624D4A;
  min-height: 35px;
  padding: 8px 16px;
  margin: 10px 0;
}

#collection .collection_products .products_content .product_slogan span {
  display: -webkit-box;
  display: block\0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 19px;
}

#collection .collection_products .products_content .product_sold {
  font-size: 13px;
  line-height: 20px;
  color: #A3A3A3;
}

#collection .collection_products .products_content .product_price .price {
  color: #D50000;
  font-size: 18px;
  padding-right: 5px;
}

#collection .collection_products .products_content .product_price del {
  color: #A3A3A3;
  font-size: .9rem;
}

#collection .collection_products.line_prods .line_prods {
  background: #E2E2E2 !important;
}

#collection .collection_products.line_prods .product {
  background: #ffffff;
  border: 1px solid #E2E2E2;
  display: grid;
  display: -ms-grid;
  grid-column-gap: 10px;
  -ms-grid-columns: 170px 1fr 150px;
  grid-template-columns: 170px 1fr 150px;
  -ms-grid-rows: auto 1fr 20px 30px;
  grid-template-rows: auto 1fr 20px 30px;
  margin-bottom: -1px;
  position: relative;
  padding: 20px 20px 20px 0;
}

#collection .collection_products.line_prods .product .product_slogan {
  display: none;
}

#collection .collection_products.line_prods .product.with_slogan {
  -ms-grid-rows: auto auto 1fr 20px 30px;
  grid-template-rows: auto auto 1fr 20px 30px;
}

#collection .collection_products.line_prods .product.with_slogan .product_slogan {
  grid-row: 1;
  -ms-grid-row: 1;
  grid-column: 2;
  -ms-grid-column: 2;
  text-align: left;
  margin-top: 0;
  display: block;
}

#collection .collection_products.line_prods .product.with_slogan .product_title {
  grid-row: 2;
  -ms-grid-row: 2;
}

#collection .collection_products.line_prods .product.with_slogan .product_brief {
  grid-row: 3;
  -ms-grid-row: 3;
}

#collection .collection_products.line_prods .product.with_slogan .product_sold {
  grid-row: 4;
  -ms-grid-row: 4;
}

#collection .collection_products.line_prods .product.with_slogan .product_price {
  grid-row: 5;
  -ms-grid-row: 5;
}

#collection .collection_products.line_prods .product .product_link {
  display: none;
}

#collection .collection_products.line_prods .product .product_image {
  grid-column: 1;
  -ms-grid-column: 1;
  grid-row: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  padding: 10px;
  display: flex;
  align-items: center;
}

#collection .collection_products.line_prods .product .product_image a {
  height: 130px;
}

#collection .collection_products.line_prods .product .product_title {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 1;
  -ms-grid-row: 1;
  font-size: 1.3rem;
  line-height: 1.2;
}

#collection .collection_products.line_prods .product .product_brief {
  color: #A3A3A3;
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 2;
  -ms-grid-row: 2;
  font-size: 14px;
  line-height: 1.5;
}

#collection .collection_products.line_prods .product .product_sold {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 3;
  -ms-grid-row: 3;
}

#collection .collection_products.line_prods .product .product_price {
  grid-column: 2;
  -ms-grid-column: 2;
  grid-row: 4;
  -ms-grid-row: 4;
  line-height: 30px;
}

#collection .collection_products.line_prods .product .product_price span {
  font-size: 20px;
}

#collection .collection_products.line_prods .product .product_love {
  grid-column: 3;
  -ms-grid-column: 3;
  grid-row: 1;
  -ms-grid-row: 1;
  text-align: right;
}

#collection .collection_products.line_prods .product .product_love a {
  color: #A3A3A3;
  cursor: pointer;
  font-size: .9rem;
}

#collection .collection_products.line_prods .product .product_love a:hover {
  color: #624D4A;
}

#collection .collection_products.line_prods .product .product_love a:hover svg {
  border-color: #624D4A;
}

#collection .collection_products.line_prods .product .product_love svg {
  border: 1px solid #A3A3A3;
  border-radius: 50%;
  height: 25px;
  padding: 5px;
  margin: 0 5px 3px 0;
  vertical-align: middle;
  width: 25px;
}

#collection .collection_products.line_prods .product .product_btn {
  align-items: flex-end;
  display: flex;
  font-size: 14px;
  grid-column: 3;
  -ms-grid-column: 3;
  grid-row: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  justify-content: flex-end;
}

#collection .collection_products.line_prods .product .product_btn button {
  background: #624D4A;
  border-color: #624D4A;
  border-radius: 5px;
  color: #ffffff;
  transition: all ease-in-out .15s;
  text-align: center;
  padding: 8px 12px;
}

#collection .collection_products.line_prods .product .product_btn button:hover {
  background: #482F2C;
  border-color: #482F2C;
}

#collection .collection_products.square_prods .square_prods {
  background: #E2E2E2 !important;
}

#collection .collection_products.square_prods.col-sm-12 .product {
  width: 25%;
}

#collection .collection_products.square_prods.col-lg-9 .product {
  width: 33.3333%;
}

#collection .collection_products.square_prods .products_content {
  display: flex;
  flex-wrap: wrap;
}

#collection .collection_products.square_prods .product {
  padding: 10px;
  position: relative;
}

#collection .collection_products.square_prods .product .product_brief,
#collection .collection_products.square_prods .product .product_love {
  display: none;
}

#collection .collection_products.square_prods .product .product_image a,
#collection .collection_products.square_prods .product .product_btn {
  height: 250px;
}

#collection .collection_products.square_prods .product .product_title,
#collection .collection_products.square_prods .product .product_sold,
#collection .collection_products.square_prods .product .product_price {
  text-align: center;
}

#collection .collection_products.square_prods .product .product_title {
  height: 48px;
  overflow: hidden;
}

#collection .collection_products.square_prods .product .product_btn {
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}

#collection .collection_products.square_prods .product .product_btn:hover {
  opacity: 1;
}

#collection .collection_products.square_prods .product .product_btn .btn {
  cursor: pointer;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  margin: 5px;
  position: relative;
  padding: 0;
  text-align: center;
  width: 45px;
}

#collection .collection_products.square_prods .product .product_btn .btn .text {
  bottom: -25px;
  color: #424242;
  font-size: 13px;
  line-height: 1;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  width: 100px;
}

#collection .collection_products.square_prods .product .product_btn .btn:hover .text {
  opacity: 1;
}

#collection .collection_products.square_prods .product .product_btn .product_link a {
  border: 1px solid #624D4A;
  border-radius: 5px;
  color: #624D4A;
  transition: all ease-in-out .15s;
  text-align: center;
}

#collection .collection_products.square_prods .product .product_btn .product_link a:hover {
  background: #624D4A;
  color: #ffffff;
}

#collection .collection_products.square_prods .product .product_btn .btn-soldout {
  background: #624D4A;
  border-color: #624D4A;
  border-radius: 5px;
  color: #ffffff;
  transition: all ease-in-out .15s;
  text-align: center;
  cursor: not-allowed;
}

#collection .collection_products.square_prods .product .product_btn .btn-soldout:hover {
  background: #624D4A;
  border-color: #624D4A;
}

#collection .collection_products.square_prods .product .product_btn .btn-cart {
  background: #624D4A;
  border-color: #624D4A;
  border-radius: 5px;
  color: #ffffff;
  transition: all ease-in-out .15s;
  text-align: center;
}

#collection .collection_products.square_prods .product .product_btn .btn-cart:hover {
  background: #482F2C;
  border-color: #482F2C;
}

#collection .collection_products.square_prods .product .product_btn .btn-soldout:hover span,
#collection .collection_products.square_prods .product .product_btn .btn-cart:hover span {
  opacity: 1;
}

@media (max-width: 1199px) {

  #collection .collection_products.square_prods.col-sm-12 .product .product_image a,
  #collection .collection_products.square_prods.col-sm-12 .product .product_btn {
    height: 230px;
  }
}

@media (max-width: 991px) {
  #collection .collection_products.square_prods.col-sm-12 .product {
    width: 33.3333%;
  }
}

@media (max-width: 768px) {
  #collection>.container {
    max-width: none;
  }

  #collection .collection_products.square_prods.col-sm-12 .product {
    width: 50%;
  }

  #collection .collection_products.square_prods.col-sm-12 .product .product_image a {
    height: 40vw;
    max-height: 250px;
  }

  #collection .collection_products.square_prods.col-sm-12 .product .product_btn {
    opacity: 1;
    position: static;
    height: auto;
  }

  #collection .collection_products.square_prods.col-sm-12 .product .product_btn .product_link {
    display: none;
  }

  #collection .collection_products.square_prods.col-sm-12 .product .product_btn button {
    font-size: .9rem;
    height: auto;
    line-height: 1;
    padding: 10px;
    width: auto;
  }

  #collection .collection_products.square_prods.col-sm-12 .product .product_btn button .text {
    bottom: auto;
    color: #ffffff;
    font-size: inherit;
    left: auto;
    opacity: 1;
    position: relative;
    transform: none;
  }
}

@media (max-width: 576px) {
  #collection .collection_products .collection_title {
    flex-direction: column;
  }

  #collection .collection_products .collection_title .products_setting {
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
  }

  #collection .collection_products.line_prods .product {
    -ms-grid-columns: 40% 57%;
    grid-template-columns: 40% 57%;
    -ms-grid-rows: 0fr auto 40px 30px;
    grid-template-rows: 0fr auto 40px 30px;
    padding: 15px 5px 15px 0;
  }

  #collection .collection_products.line_prods .product * {
    font-size: 14px;
  }

  #collection .collection_products.line_prods .product .product_title a {
    font-size: 16px;
    display: -webkit-box;
    display: block\0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  #collection .collection_products.line_prods .product .product_love,
  #collection .collection_products.line_prods .product .product_brief {
    display: none;
  }

  #collection .collection_products.line_prods .product .product_sold {
    grid-row: 2;
    -ms-grid-row: 2;
    margin-top: 10px;
  }

  #collection .collection_products.line_prods .product.with_slogan {
    -ms-grid-rows: auto auto auto 1fr 30px;
    grid-template-rows: auto auto auto 1fr 30px;
  }

  #collection .collection_products.line_prods .product.with_slogan .product_sold {
    grid-row: 3;
    -ms-grid-row: 3;
  }

  #collection .collection_products.line_prods .product.with_slogan .product_price {
    grid-row: 4;
    -ms-grid-row: 4;
    margin-bottom: 5px;
  }

  #collection .collection_products.line_prods .product.with_slogan .product_btn {
    grid-row: 5;
    -ms-grid-row: 5;
  }

  #collection .collection_products.line_prods .product .product_price {
    grid-row: 3;
    -ms-grid-row: 3;
  }

  #collection .collection_products.line_prods .product .product_price span,
  #collection .collection_products.line_prods .product .product_price del {
    font-size: 14px;
  }

  #collection .collection_products.line_prods .product .product_btn {
    grid-column: 2;
    -ms-grid-column: 2;
    grid-row: 4;
    -ms-grid-row: 4;
    align-items: flex-end;
    justify-content: flex-start;
  }

  #collection .collection_products.line_prods .product .product_btn button {
    padding: 5px 10px;
  }
}

@media (max-width: 400px) {
  #collection .collection_products .collection_title .products_info {
    float: none;
    justify-content: flex-end;
  }

  #collection .collection_products .product .product_price {
    line-height: 20px;
  }

  #collection .collection_products.line_prods .product {
    -ms-grid-rows: 0fr auto 30px 30px;
    grid-template-rows: 0fr auto 30px 30px;
  }

  #collection .collection_products.line_prods .product .product_title {
    font-size: 1.1rem;
  }

  #collection .collection_products.line_prods .product .product_price {
    line-height: 25px;
  }

  #collection .collection_products.line_prods .product .product_price .price {
    font-size: 16px;
  }

  #collection .collection_products.line_prods .product .product_image a {
    height: 110px;
  }

  #collection .collection_products.line_prods .product .product_btn button {
    font-size: .9rem;
  }

  #collection .collection_products.square_prods .product {
    padding: 5px;
  }

  #collection .collection_products.square_prods .product .product_image a {
    height: 45vw;
  }

  #collection .collection_products.square_prods .product .product_price {
    min-height: 40px;
  }

  #collection .collection_products.square_prods .product .product_price * {
    display: block;
    padding: 0;
  }
}