:root {
  --primary: #624D4A;
  --secondary: #482F2C;
  --title: #565656;
  --body: #A3A3A3;
  --price: #A3A3A3;
  --sale: #D50000;
  --black: #424242;
  --white: #ffffff;
  --light: #E2E2E2;
  --accent: #624D4A;
  --button: #624D4A;
}